.myaccount-navigation-column {

  ul > li + li {
    margin-top: rem(10);
  }

  a {
    width: 100%;
    display: inline-flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    padding: rem(8) rem(20);
    background: var(--color-white);
    color: var(--color-black);
    transition: var(--transition-base);
    font-weight: var(--font-extra-bold);
    
  }

  .is-active a,
  a:hover {
    opacity: 1;
    background: var(--color-black);
    color: var(--color-white);
  }

  li.woocommerce-MyAccount-navigation-link--customer-logout a{
    background: #C23A1B14;
    color: var(--color-error);

    &:hover {
      color: var(--color-white);
      background: var(--color-error);
    }
  }

}
