.woocommerce-orders {
  /*
   * Orders tab styles
   */

  .myaccount-content-column {
    overflow: auto;
  }

  table {
    min-width: 100%;
    width: max-content;
    padding: rem(40);
    background: var(--color-white);
  }

  th, td {
    padding: 0.5rem 1rem;
    text-align: left;
  }

  tr th:first-child,
  tr td:first-child {
    padding-left: 0;
  }

  .woocommerce-button {
    --button-bg: var(--color-black);
    --button-text: var(--color-white);
    --focus-color: var(--color-dark);

    &:hover {
      background: var(--color-white);
      color: var(--color-black);
    }
  }

  [data-title="Actions"] {
    @include cluster;
    gap: 0.5rem;
  }
}
