main .woocommerce-page {
  padding-top: 10rem;
  padding-bottom: rem(120);

  &__title {
    margin-bottom: 4rem;
    text-align: center;
  }

  @include md {
    padding-top: 8rem;
    padding-bottom: rem(60);
  }
}
