.banner {
    &__wrapper {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 0 rem(86);
        min-height: rem(640);
        padding-top: rem(148) !important;
    }

    &__content {
        max-width: 48%;
        color: var(--color-white);
        display: flex;
        flex-direction: column;
        gap: rem(40);
    }

    &__text {
        max-width: 55%;
    }

    .button {
        width: fit-content;
    }

    @include lg {
        &__content {
            max-width: 85%;
        }

        &__text {
            max-width: 70%;
        }

        &__wrapper {
            padding: rem(80) rem(40);
            min-height: 100%;
        }
    }

    @include sm {
        &__wrapper {
            padding: rem(24);
        }
    }

}