.image-text {
    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(32);
        min-height: rem(380);
        align-items: center;
    }

    &__media {
        margin: 0;
        order: 0;
        height: 100%;
    }

    &__img {
        width: 100%;
        height: 100%;
        display: block;
    }

    &__content {
        order: 1;
        background: var(--color-white);
        padding: rem(56) rem(80);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        p {
            margin: 0;
            color: var(--color-dark);
        }
        
        h2 {
            margin-bottom: rem(40);
        }

        .button {
            margin-top: rem(40);
        }
    }

    &[data-image-position="right"] {
        .image-text__media {
            order: 1;
        }

        .image-text__content {
            order: 0;
        }
    }

    @include md {
        &__inner {
            grid-template-columns: 1fr;
            gap: 2rem;
        }

        &__media,
        &__content,
        &[data-image-position="right"] .image-text__media,
        &[data-image-position="right"] .image-text__content {
            order: unset;
        }

        &__content {
            padding: rem(24);
        }
    }
}
