.users-section {
    .grid {
        --gap: 30px;
    }

    .user-card {
        display: grid;
        grid-template-columns: 13rem 1fr;
        gap: 1.25rem;

        &__image {
            img {
              @include image-cover;
            }
        }

        &__content {
            background-color: var(--color-white);
            padding: 2.5rem;
            display: flex;
            flex-direction: column;
            gap: 2.5rem;
        }

        .button {
          margin-top: auto;
          width: fit-content;
        }

        @include md {
          grid-template-columns: 1fr;

          &__image {
            height: 300px;
          }
        }
    }
}
