.users-section {
    .grid {
        --gap: 30px;
    }

    .user-card {
        display: grid;
        grid-template-columns: 16rem 1fr;
        gap: 20px;

        &__image {
            img {
              @include image-cover;
            }
        }

        &__content {
            background-color: var(--color-white);
            padding: 2.5rem;

            & > * + * {
              margin-top: 2.5rem;
            }
        }

        @include md {
          grid-template-columns: 1fr;

          &__image {
            height: 300px;
          }
        }
    }
}
