.why-us {
    &__top {
        width: 100%;
        text-align: center;
        margin-bottom: rem(40);
        text-transform: capitalize;
    }

    &__items {
        --gap: 20px;
    }

    &__item {
        padding: rem(40);
        background: var(--color-white);
        font-size: var(--size-md);

        h6 {
            font-size: var(--size-md);
            font-weight: var(--font-bold);
            margin-bottom: rem(20);
        }
    }
}