.woocommerce-pagination {
  padding-top: rem(120);

	ul.page-numbers {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: rem(10);
	}

	span.page-numbers,
	a.page-numbers {
		color: var(--color-black);
		font-family: var(--font-secondary);
		font-weight: var(--font-bold);
		font-size: var(--size-sm);
		text-decoration: none;
		border-radius: 0;
		line-height: 1;
		transition: var(--transition-base);
	}

	a.page-numbers:hover {
		color: var(--color-white);
		background: var(--color-black);
		
		path {
			stroke: var(--color-white);
		}
	}

	span.page-numbers.current {
		color: var(--color-white);
		background: var(--color-black);
	}

	.next {
		margin-left: rem(30);
	}

	.prev {
		margin-right: rem(30);
	}

	.next, .prev {
		background: var(--color-white);
	}

	@include sm {
		.next, .prev {
			margin: 0;
		}
	}

	@include md {
		padding-top: rem(60);
	}
}
