.woocommerce-shop {
  .shop-grid {
    display: grid;
    grid-template-columns: 1fr;
  }

	.shop-top-bar {
		margin-bottom: rem(40);
	}

  @include lg {
    .shop-grid {
      grid-template-columns: 1fr;
    }
  }
}
