/*
 * Cart Item
 */
.cart .cart_item {
  display: grid;
  align-items: center;
  justify-items: flex-start;
  grid-template-columns: 0.5fr 1.5fr 0.5fr 0.5fr 1.5rem;
  margin-bottom: rem(20);
  gap: rem(40);

  td {
    width: 100%;
  }

  .product-remove {
    order: 5;

    a {
      font-size: 24px;
      line-height: 24px;
      font-weight: var(--font-regular);
      text-decoration: none;
      display: inline-flex;
      width: 40px;
      height: 40px;
      background: var(--color-white);
      align-items: center;
      justify-content: center;
      transition: var(--transition-base);

      &:hover {
        background: var(--color-black);
        color: var(--color-white);
      }
    }
  }

  .product-thumbnail {
    order: 1;
    min-width: 140px;
    max-width: 160px;
    aspect-ratio: 1 / 1;


    img {
      height: auto;
      object-fit: contain;
    }
  }

  .product-name {
    order: 2;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: rem(20);

    a {
      font-size: var(--size-md);
      font-weight: var(--font-bold);
      text-decoration: none;
      padding-right: 42px;
    }

    .cart-item-meta {
      display: flex;
      flex-wrap: wrap;
      font-size: var(--size-sm);
      color: var(--color-dark);
      overflow: hidden;
      text-overflow: ellipsis;
      gap: 8px;
    }

  }

  .product-price {
    display: none;
  }

  .product-quantity {
    order: 3;
  }

  .product-subtotal {
    order: 4;
  }


  @include lg {
    grid-template-columns: 0.5fr 1fr 1fr;
    gap: 1rem;
    position: relative;

    .product-name {
      grid-column: span 2;
    }

    .product-remove {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      justify-content: flex-end;
      
    }
  }
}
