.cart-totals-column {

  h2 {
    margin-bottom: rem(40);
    font-size: var(--size-md);
  }

  table {
    width: 100%;

    background: var(--color-white);
  }

  tr td:first-child,
  tr th:first-child {
    text-align: left;
    width: 80%;
    font-weight: var(--font-bold);
  }

  tr td:last-child,
  tr th:last-child {
    text-align: right;
  }

  td .woocommerce-Price-amount{
    font-size: var(--size-sm);
    font-weight: var(--font-regular);
  }

  .cart-subtotal {
    th, td {
      padding-bottom: rem(30);
      padding-top: rem(40);
    }

    th {
      padding-left: rem(40);
    }

    td {
      padding-right: rem(40);
    }
  }

  .order-total {
    th, td {
      padding-top: rem(30);
      padding-bottom: rem(40);
      border-top: 1.5px solid var(--color-bg);
    }

    th {
      padding-left: rem(40);
    }

    td {
      padding-right: rem(40);
    }

    th {
      font-size: var(--size-md);
    }

    td .amount, td bdi{
      font-size: var(--size-h5);
    }
  }

  .checkout-button {
    --button-bg: var(--color-black);
    --button-text: var(--color-white);
    --focus-color: var(--color-dark);

    &:hover {
      background: var(--color-white);
      color: var(--color-black);
    }
  }

  .button {
    margin-top: rem(40);
  }

  @include md {
    .cart-subtotal {
      th, td {
        padding-bottom: rem(30);
        padding-top: rem(24);
      }

      th {
        padding-left: rem(24);
      }

      td {
        padding-right: rem(24);
      }
    }

    .order-total {
      th, td {
        padding-top: rem(30);
        padding-bottom: rem(24);
      }

      th {
        padding-left: rem(24);
      }

      td {
        padding-right: rem(24);
      }

      th {
        font-size: var(--size-md);
      }

      td .amount, td bdi{
        font-size: var(--size-h5);
      }
    }
  }

}
