.section {
  padding: 2.5rem 0;
}

.section-top {
  padding-top: 2.5rem;
}

.section-bottom {
  padding-bottom: 2.5rem;
}

section:first-of-type {
  padding-top: 8rem;

  @include lg {
    padding-top: 6rem;
  }
}
