.footer {
  color: var(--color-dark);

  &__inner {
    --flow-space: 2rem;
  }

  &__main {
    gap: rem(20);
    flex-wrap: nowrap;

    .cluster {
      margin-bottom: auto;
    }
  }

  &__logo {
    height: clamp(2rem, 3.3vw, 3rem);
    display: block;

    img, svg {
      height: 100%;
      width: fit-content;
    }
  }

  &__info {
    max-width: rem(310);
    font-size: var(--size-sm);
    font-weight: var(--font-medium);
  }

  &__menu-wrapper {
    align-items: flex-start;
    column-gap: 1rem;
    row-gap: 2rem;

    h4 {
      font-size: var(--size-md);
      color: var(--color-black);
    }
  }

  .menu {
    a[aria-current="page"] {
      color: var(--color-black);
    }

    a {
      font-weight: var(--font-extra-bold);
      font-size: var(--size-sm);
    }
  }

  &__column {
    --flow-space: 40px;
  }

  &__payments {
    height: 2.5rem;
    
    img {
      height: 100%;
    }
  }

  &__currency-switcher {
    --currency-switcher-border: 1px solid var(--color-white);
    --currency-switcher-color: var(--color-white);
    --currency-switcher-bg: var(--color-dark);
  }

  .cluster {
    flex-wrap: nowrap;
  }

  @include lg {
    &__main {
      flex-wrap: wrap;
    }

    .cluster {
      flex-wrap: wrap;
    }

    &__column {
      --flow-space: 20px;
    }
  }
}
