.popup-login {

  &__reset-password {
    @include flow;
  }

  .account-switcher {
    cursor: pointer;
  }

  .form-row:has(.woocommerce-form-login__rememberme) {
    @include repel;
  }

  .woocommerce-ResetPassword,
  .woocommerce-form {
    @include flow;
  }

  .lost_password {
    margin-top: 0;
  }

  button[type="submit"] {
    margin-top: 0;
  }

  // .woocommerce-form__label,
  // .lost_password {
  //   display: none;
  // }


  .reset-switcher {
    margin-top: 0.5rem;
  }

}
