/*
 * Products Grid component
 */

.products {
  --grid-min-item-size: clamp(min(16rem, 100%), 18vw, 12rem);
  @include grid;
  column-gap: rem(32);
  row-gap: rem(80);

  @include md {
    row-gap: rem(40);
  }
}
