.product-card {
	position: relative;
  display: flex;
  flex-direction: column;


  /*
   * Spacings
   */
  & > * {
    margin-bottom: rem(20);
  }

  &__title {
    margin-bottom: rem(40);

    // restrict title lines count
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    a{
      font-size: var(--size-md);
      font-weight: var(--font-bold);
      text-decoration: none;
    }
  }

  /*
   * Product Image
   */
	&__thumbnail {
		aspect-ratio: 1 / 1;
		overflow: hidden;
		width: 100%;
    margin-bottom: rem(40);
    position: relative;
    height: 310px;

    .product-card__icon-link {
      position: absolute;
      right: 20px;
      top: 18px;
      
      rect, path, svg {
        transition: var(--transition-base);
      }

      &:hover {

        rect {
          fill: var(--color-black) !important;
        }

        path {
          stroke: var(--color-white) !important;
        }
      }
    }
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;

    /*contain-intrinsic-size: none !important;*/
	}

  /*
   * Attributes
   */

  &__attr {
    font-size: var(--size-sm);
    color: var(--color-dark);
  }

  /*
   * Add to Cart button
   */
  .add_to_cart_button {
    margin-bottom: 0;
  }

  /*
   * Footer
   */
	
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;

    br {
      display: none;
    }
  }
  
}
