html {
  caret-color: var(--color-black);
}

body {
  background: var(--color-bg);
  color: var(--color-black);
  font-size: var(--size-sm);
  font-family: var(--font-secondary);
  font-weight: var(--font-regular);
  line-height: var(--leading-relaxed);
  font-size-adjust: from-font;
  margin: 0;
  display: flex;
  flex-direction: column;
}

footer{
  margin-top: auto;
}

main {
  min-height: 70vh;
  min-height: 70dvh;
}

::selection {
  background-color: var(--color-black);
  color: var(--color-white);
}

:target {
  scroll-margin-block: 15vh;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 0.2lh;
}

.woocommerce-message, .woocommerce-error, .woocommerce-info {
  color: var(--color-black);
}

main.menu-blur {
  filter: blur(10px);
  transition: filter .3s ease;
}

body:has(.menu-blur) {
  .header__woo-links {
    filter: blur(10px);
    transition: filter .3s ease;
  }

  .header__inner  {
    background: transparent;
  }

  .header__logo {
        filter: blur(10px);
    transition: filter .3s ease;
  }
}

.mobile-menu__menu .header__logo {
  filter: none !important;
}