/*
 * Single Product Gallery
 */
.woocommerce-product-gallery {
	position: relative;

	&__sticky-wrapper {
		position: sticky;
		top: 10rem;
	}

	&__image img {
		width: 100%;
		object-fit: cover;
	}


	/*
	 * Zoom Mode Button
	 */
	&__trigger span {
		display: none;
	}


	/*
	 * Gallery Navigation
	 */
	.flex-control-nav {
		margin-top: 0.5rem;
		@include grid;
		grid-template-columns: repeat(4, 1fr);
		list-style: none;
		gap: 0.5rem;
	}

	.flex-control-nav li {
		cursor: pointer;
	}

	.flex-control-nav img {
		aspect-ratio: 1 / 1;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}


	@include lg {
		.woocommerce-product-gallery__trigger {
			width: 4rem;
			height: 4rem;
		}
	}
}
