/*
 * Single Product Gallery
 */
.woocommerce-product-gallery {
	position: relative;

	&__sticky-wrapper {
		position: sticky;
		top: 10rem;
	}

	&__image img {
		width: 100%;
		object-fit: cover;
	}


	/*
	 * Zoom Mode Button
	 */
	&__trigger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    aspect-ratio: 1 / 1;
    width: 2.5rem;
    height: 2.5rem;
    display: grid;
    place-items: center;
    background: var(--color-black);
		transition: var(--transition-base);
	}

	&__trigger span {
		display: none;
	}
	
	&__trigger::after {
		content: url('../../assets/icons/zoom.svg');
		display: block;
		width: 50%;
		height: 50%;
	}

	&__trigger:hover {
		opacity: 0.8;
	}


	/*
	 * Gallery Navigation
	 */
	.flex-control-nav {
		margin-top: 0.5rem;
		@include grid;
		grid-template-columns: repeat(4, 1fr);
		list-style: none;
		gap: 0.5rem;
	}

	.flex-control-nav li {
		cursor: pointer;
	}

	.flex-control-nav img {
		aspect-ratio: 1 / 1;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}


	@include lg {
		.woocommerce-product-gallery__trigger {
			width: 4rem;
			height: 4rem;
		}
	}
}
